flows.json
[{"id":"c10d0c2a.899ad","type":"tab","label":"telegram bot example","disabled":false,"info":""},{"id":"eb2050c5.19927","type":"telegram receiver","z":"c10d0c2a.899ad","name":"/help","bot":"3aa484c3.6c9fac","saveDataDir":"","filterCommands":false,"x":90,"y":320,"wires":[["1c623839.29c088"],[]]},{"id":"eb617982.acff08","type":"telegram sender","z":"c10d0c2a.899ad","name":"","bot":"3aa484c3.6c9fac","haserroroutput":false,"outputs":1,"x":990,"y":320,"wires":[[]]},{"id":"1c623839.29c088","type":"function","z":"c10d0c2a.899ad","name":"setMsgToFlow","func":"if (msg.originalMessage.text !== \"/start\") {\n    msg.payload.content = \"\\r\\n Pleace, enter comand /start\";\n    return [null, msg];\n}\n\nflow.set(\"inboundMsg\", JSON.stringify(msg));\nreturn [msg, null];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":260,"y":320,"wires":[["e6f34912.c8b888"],["eb617982.acff08"]]},{"id":"73c6930a.178bcc","type":"function","z":"c10d0c2a.899ad","name":"help","func":"const inboundMsg = JSON.parse(flow.get(\"inboundMsg\"));\ninboundMsg.payload.content = JSON.stringify(msg.payload)\nreturn inboundMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":180,"wires":[["eb617982.acff08"]]},{"id":"e6f34912.c8b888","type":"http request","z":"c10d0c2a.899ad","name":"getFilms","method":"GET","ret":"obj","paytoqs":"query","url":"https://api.themoviedb.org/3/movie/top_rated?api_key=","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":180,"wires":[["3e3f6b56.d7b864"]]},{"id":"3e3f6b56.d7b864","type":"function","z":"c10d0c2a.899ad","name":"handleFilmData","func":"const payload = msg.payload.results\n    .sort((a, b) => {\n        const aRaiting = +a.vote_average;\n        const bRaiting = +b.vote_average;\n        \n        if (aRaiting === bRaiting) return 0;\n        return aRaiting < bRaiting ? 1 : -1;\n    })\n    .slice(0, 3)\n    .map(({backdrop_path, id, poster_path, video, ...rest}) => rest);\n    \nreturn {...msg, payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["73c6930a.178bcc"]]},{"id":"3aa484c3.6c9fac","type":"telegram bot","botname":"TopFilm3Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"webhook","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"a86f79ceb948.ngrok.io","botpath":"hello-world","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]